@use './utils' as *;

p {
    margin-bottom: 0;
}

.button-primary {
    background-color: $color-bg-primary;
    background-image: linear-gradient(25deg, $color-gradient-1, $color-gradient-2);
    transition: .3s ease;
    padding: 14px 24px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    border: none;
    color: $color-text-white;
    text-decoration: none;

}

.button-secondary {
    background-color: #FFFFFF;
    padding: 14px 24px;
    border: 2px solid #ccc;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    color: $color-text-primary;


    &:hover {
        background-color: transparent;
        border-color: #FFFFFF;
        background: linear-gradient(25deg, $color-gradient-1, $color-gradient-2);
        border-radius: 50px;
        color: $color-text-white;

    }
}

.text-color-violet {
    color: $color-bg-primary;
}

.fs-0 {
    font-size: 64px;
}

.section-py-80 {
    padding: 80px 0;

    @include respond(phone) {
        padding: 20px 0;
    }

}

.section-my-80 {
    margin: 80px 0;
}