.background-f1f1f2 {
    background-color: #f1f1f2;
}

.aboutProduct-gird {
    display: grid;

    &.template-grid-1 {
        grid-template-columns: 300px 1fr;

        .about-product-title-box {
            order: 0;
        }

        .about-product-video-box {
            order: 1;
        }

    }

    &.template-grid-2 {
        grid-template-columns: 1fr 300px;

        .about-product-title-box {
            order: 1;
        }

        .about-product-video-box {
            order: 0;
        }
    }

    gap: 30px;


    .about-product-title-box {
        padding: 70px 0;
    }

    .title-about-product {
        cursor: pointer;
        transition: opacity .5s ease-in-out;
    }

    .button-primary {
        width: fit-content;
    }
}

.about-product-video-box {
    padding: 40px 20px;
    background-color: #f1f1f2;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 1.95px, rgba(0, 0, 0, 0.03) 0px 5px 4.04px, rgba(0, 0, 0, 0.04) 0px 12px 8px, rgba(0, 0, 0, 0.04) 0px 23px 15.8px, rgba(0, 0, 0, 0.05) 0px 40px 29px, rgba(0, 0, 0, 0.07) 0px 62px 49px;

}