.component-contact-home {
    position: relative;

    .text {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        margin: auto;

        .form {
            display: flex;
            gap: 20px;

        }
    }
}