@use '../utils' as *;

.marquee-component {
    .marquee-item {
        width: 25vw;
        height: 260px;

        @include respond(phone) {
            width: 315px;
        }

        .marquee-description {
            @include line-clamp(3);
        }

        .marquee-title {
            @include line-clamp(1);
        }
    }
}